* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "teko", sans-serif; 
}

/*navbar*/
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .logo  {
  color: black;
  font-size: 15pt;
  font-family: "teko", sans-serif; 
  text-transform: uppercase;
}
.navbar .logo  span{
    color: #ffa600;
}

/*home-inicio*/
.home {
    display: flex;
    background-image: url("../storage/banner/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: "teko", sans-serif; 
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #ffa600;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: transparent;
    border: 2px solid #ffa600;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15pt;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none !important;
}

.home .home-content a:hover {
    border: 2px solid #ffa600;
    background: transparent;
    color: #ffa600;
}

.redes-sociais i{
    font-size: 20pt;
    padding-top: 3rem;
    margin-inline-end: 1rem;
    cursor: pointer;
    transition: all 0.5s;

}

.redes-sociais i:hover{
    color: #ffa600;
    transform: scale(1.2);
}

/*sobre*/
.titulo-about{
    font-size: 30pt;
    font-family: 'Teko', sans-serif;
}
.paragrafo-about{
    font-family: 'Teko', sans-serif;
    color: #ffa600;
}
.about-h1{
    color: #ffa600;
    font-size: 20pt;
    font-family: 'Teko', sans-serif;
}
.about-btn{
    background-color: #ffa600;
    color: white;
    padding: 8px 8px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid white;
    border-radius: 5px;
}
.about-btn:hover{
    background-color: transparent;
    border: 2px solid #ffa600;
    color: #ffa600;
    border-radius: 5px;
}

#sobre{
    margin-bottom: 20%;
}


#sobre-segundo{
    margin-top: -10%;
    margin-bottom: 10%;
}

/*projetos*/
.card-btn{
    background-color: #ffa600;
    color: white;
    padding: 5px 5px;
    text-transform: uppercase;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid white;
    margin-left: 30%;
    border-radius: 5px;
}

.card-btn:hover{
   background-color: transparent;
   color: #ffa600;
   border: 2px solid #ffa600;
   border-radius: 5px;
}

#projetos i{
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
    color: #ffa600;
}

/*especialidades*/
h2{
    position: relative;
    margin: 30px 0 60px;
    margin-top: 7rem !important;
    margin-bottom: 3rem !important;
}

h2::after{
    content: "";
    width: 140px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background-color: #ffa600;
    left: 0;
    right: 0;
    bottom: -10px;
    opacity: .8;
}

.specs h5{
    margin-top: 4rem;
}

/*contato*/
.contato{
    background-image: url('https://images.pexels.com/photos/3790805/pexels-photo-3790805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.form-group{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}
.form-group h3{
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}
.form-group label{
   color: white;
   text-align: center;
   font-weight: bold;
}
.form-group input{
    width: 50%;
    margin: auto;
}
.form-group  textarea{
    margin: auto;
    width: 50%;
}
.btn-contato{
    border: none;
    outline: none;
    background-color: #ffa600;
    border: 2px solid #ffa600;
    padding: 5px 5px;
    font-weight: bold;
    width: 30%;
    margin: auto;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

.btn-contato:hover {
    background-color: transparent;
    color: white;
    border: 2px solid #ffa600;
}